h1 {
    color: #606165;
    font-size: 22px;
    font-family: google sans, arial, sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}

li {
    color: #70757a;
    display: block;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.whole-project {
    padding: 20px;
    border: 1px solid #202124;
    border-radius: 5px;
}

.whole-project {
    max-width: 800px;
    margin: 30px auto;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #202124;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: black;
}

.weather-forecast-temperature {
    font-size: 14px;
}

.weather-forecast-temperature-min {
    opacity: 0.7;
}